.page-template-case-page-php #container {
    margin-top: -150px;
    z-index: 10;
    position: relative;
    background-color: white;
    opacity: 0.9;
    margin-left: 20px;
    border: 1px solid $light-grey;
    width: 630px !important;
}

.page-template-case-page-php #content {
	width: 592px !important;

}


.page-template-case-page-php .main-aside {
	margin-top: -150px;
    z-index: 10;
    position: relative;
}

.page-template-case-page-php  #content {
    margin:0 0 0 10px;
    width:940px;
    overflow:hidden;
}

.case-header-img {
	top:50%;
	width: 100%;
	height: 300px;
	overflow: hidden;
	vertical-align: middle;
}

.case-header-img img {
	top:-50%;
	width: 100%;
	position: relative;


}