.page-template-theme-page-php #container {
    margin-left: 20px;
    width: 630px !important;
        min-height: 150px;
}

.page-template-theme-page-php #content {
	width: 592px !important;
}

.page-template-theme-page-php .main-aside {
  margin-top: -175px;
}



.fact-container {
	padding: 20px 30px;
	margin: 0 0 15px 0;
	text-align: center;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.95);;

}

.fact-container p{
    line-height: 1.2em;
    font-size: 30px;
}

p.author > img {
  float:left;
  margin:0.5em;
  width:210px;
  height:210px;
  border-color: #eee #ddd #bbb;
  border-radius: 100%;
  border-style: solid;
  border-width: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

p.author {
  display: block;
  padding:1em;
  text-align: center;
  font-size: 20px;
  line-height: 1.2em;

}

p.author a {
	clear: both;
}

.theme-subs {
    width: 620px;
    float:left;
    margin: 20px 0px 0px 10px;
    padding-left: 28px;
    >h1 {
        margin-left: 10px;
        line-height: 1.6em;
    }

    ul.page-thumbs {
        margin-bottom: 30px;
        > li {
            margin: 10px 10px;
        }
    }  
}

.dit-is-onzin {

}