.page-template-theme-page-php #container {
    margin-top: -150px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 20px;
    border: 1px solid $light-grey;
    width: 630px !important;
}

.page-template-theme-page-php #content {
	width: 592px !important;
}

.page-template-theme-page-php .main-aside {
	margin-top: -150px;
}